<div class="container">
    <div class="row">
        <%= render "layouts/sidebar" %>
        <div class="col-sm-9 col-md-9">
          <h4>Custom Fields</h4>
           <div style="float:right;padding:5px;">
            <%= link_to 'New category', new_custom_field_path ,:class=>"label label-default"%></div>
<table class="table table-bordered">
            <thead>
             
   <tr>
    <th>Field name</th>
    <th>Label name</th>
    <th>Field type</th>
    <th>Asset</th>
    <th></th>
    
  </tr>
  </thead>
            <tbody>
        

<% @custom_fields.each do |custom_field| %>
  <tr>
    <td><%= custom_field.field_name %></td>
    <td><%= custom_field.label_name %></td>
    <td><%= custom_field.field_type %></td>
    <td><%= custom_field.asset_id %></td>
    <td><%= link_to 'Edit', edit_custom_field_path(custom_field) %>
    <%= link_to 'Destroy', custom_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
 </tbody>
</table>

        </div>
    </div>
</div>






