<div class="col-sm-2 col-md-3">
           <div class="span3">
<div class="arrowlistmenu">
<h3 class="menuheader expandable">Settings</h3>
<ul class="categoryitems">
<li><%= link_to "Locations" ,locations_path %></li>
  <li><%= link_to "Sublocations" ,sublocations_locations_path %></li>
   <li><%= link_to "Assets" ,assets_path %></li>
   <li><%= link_to "Employees" ,employees_path %></li>
</ul>
<h3 class="menuheader expandable">Assignments</h3>
<ul class="categoryitems">
  <li><%= link_to "Locations" ,"#"%></li>
  <li><%= link_to "Employees" ,"#" %></li>

</ul>

<h3 class="menuheader" style="cursor: default"><%= link_to "ChangePassword" ,edit_user_registration_path,:class=>"mainsidelink"%></h3>
</div>
</div>




        </div>


